<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.user.mapper.UserMapper">

    <sql id="querySelect">
        <if test="paramObj.currentMerchantUserId != null">
            <![CDATA[
                WITH RECURSIVE user_tree AS (
                    SELECT id
                    FROM user
                    WHERE id = #{paramObj.currentMerchantUserId}
                    UNION ALL
                    SELECT u_.id
                    FROM user u_
                    JOIN user_tree ut ON u_.parent_id = ut.id
                )
            ]]>
        </if>
        <![CDATA[
            SELECT tall.*
            FROM (
                 SELECT _tall.*
                 FROM (SELECT u_.id
                            , u_.type
                            , u_.type2
                            , u_.merchant_grade
                            , u_.telegram_id
                            , u_.chain_id
                            , u_.chain_address
                            , u_.email
                            , u_.twitter_id
                            , u_.facebook_id
                            , u_.line_id
                            , u_.phone_number
                            , u_.username
                            , u_.receive_messages_telegram_ids
                            , u_.salt
                            , u_.password
                            , u_.withdrawal_password
                            , u_.app_key
                            , u_.is_enabled
                            , u_.is_test
                            , u_.avatar_url
                            , u_.parent_id
                            , u_.referrer_id
                            , u_.referral_code
                            , u_.total_bet_amount
                            , u_.vip_level
                            , u_.version
                            , u_.create_ts_ms

                            , chain_.name                    AS chain_name
                            , chain_.is_production           AS chain_is_production
                            , chain_.type                    AS chain_type
                            , chain_.explorer_url            AS chain_explorer_url
        ]]>

        <if test="paramObj.joinSumUserFund != null">
            <![CDATA[
                            , uf_.total_balance_q_v
                            , uf_.available_balance_q_v
                            , uf_.frozen_balance_q_v
                            , uf_.withdrawable_balance_q_v
                            , ugsvf_.user_game_service_vendor_fund_balance_q_v
                            , uf_.quote_currency_id
                            , uf_.quote_currency_code
                            , uf_.quote_currency_symbol
                            , uf_.quote_currency_type
                            , uf_.quote_currency_country_code
            ]]>
        </if>

        <if test="paramObj.joinCountDirectChildUser != null">
            <![CDATA[
                            , COALESCE(count_direct_child_user_.count, 0) AS count_direct_child_user
            ]]>
        </if>

        <![CDATA[
                FROM user u_
                    LEFT JOIN chain chain_ ON u_.chain_id = chain_.id
        ]]>


        <if test="paramObj.currentMerchantUserId != null">
            <![CDATA[
                    JOIN user_tree u_tree_ ON u_tree_.id = u_.id
            ]]>
        </if>

        <if test="paramObj.joinSumUserFund != null">
            <![CDATA[
                    LEFT JOIN (SELECT uf__.user_id
                                  , ROUND(SUM(COALESCE((uf__.available_balance * cp_.quote_price) + (uf__.frozen_balance * cp_.quote_price), 0)), 18) AS total_balance_q_v
                                  , ROUND(SUM(COALESCE(uf__.available_balance * cp_.quote_price, 0)), 18)                                             AS available_balance_q_v
                                  , ROUND(SUM(COALESCE(uf__.frozen_balance * cp_.quote_price, 0)), 18)                                                AS frozen_balance_q_v

                                  , CASE WHEN ur2_.sum_incomplete_amount > 0 THEN ROUND(ur_.current_withdrawable_balance * cp_.quote_price, 18)
                                      ELSE ROUND(uf__.available_balance * cp_.quote_price, 18)
                                    END AS withdrawable_balance_q_v

                                  , c_for_cp_.id                                                                                                      AS quote_currency_id
                                  , c_for_cp_.code                                                                                                    AS quote_currency_code
                                  , c_for_cp_.symbol                                                                                                  AS quote_currency_symbol
                                  , c_for_cp_.type                                                                                                    AS quote_currency_type
                                  , c_for_cp_.country_code                                                                                            AS quote_currency_country_code

                             FROM user_fund uf__
                                    JOIN currency c_ ON c_.id = uf__.currency_id
                                    JOIN (SELECT quote_price, base_currency_id, quote_currency_id FROM currency_price cp_
                                        WHERE cp_.quote_currency_id = #{paramObj.displayQuoteCurrencyId}) cp_ ON cp_.base_currency_id = c_.id
                                    JOIN currency c_for_cp_ ON cp_.quote_currency_id = c_for_cp_.id

                                    LEFT JOIN (SELECT user_id, currency_id, create_ts_ms, MAX(current_withdrawable_balance) AS current_withdrawable_balance
                                                FROM user_rollover
                                              WHERE status = #{paramObj.userRolloverStatusCompleted}
                                                GROUP BY user_id, currency_id, create_ts_ms
                                                ORDER BY create_ts_ms DESC LIMIT 1) ur_ ON (ur_.user_id = uf__.user_id AND ur_.currency_id = uf__.currency_id)

                                    LEFT JOIN (SELECT user_id, currency_id, SUM(original_amount) AS sum_incomplete_amount
                                                FROM user_rollover
                                              WHERE status != #{paramObj.userRolloverStatusCompleted}
                                                GROUP BY user_id, currency_id) ur2_ ON (ur2_.user_id = uf__.user_id AND ur2_.currency_id = uf__.currency_id)
                             GROUP BY uf__.user_id
                            ) uf_ ON uf_.user_id = u_.id

                    LEFT JOIN (SELECT ugsvf__.user_id
                                  , ROUND(SUM(COALESCE(ugsvf__.balance * cp_.quote_price, 0)), 18) AS user_game_service_vendor_fund_balance_q_v
                             FROM user_game_service_vendor_fund ugsvf__
                                      JOIN currency c_ ON c_.id = ugsvf__.currency_id
                                      JOIN (SELECT quote_price, base_currency_id, quote_currency_id FROM currency_price cp_
                                            WHERE cp_.quote_currency_id = #{paramObj.displayQuoteCurrencyId}) cp_ ON cp_.base_currency_id = c_.id
                             GROUP BY ugsvf__.user_id
                            ) ugsvf_ ON ugsvf_.user_id = u_.id
            ]]>
        </if>

        <if test="paramObj.joinCountDirectChildUser != null">
            <![CDATA[
                LEFT JOIN (SELECT COUNT(id) AS count, parent_id FROM user direct_u__ GROUP BY parent_id) count_direct_child_user_
                    ON count_direct_child_user_.parent_id = u_.id
            ]]>
        </if>

        <![CDATA[
                  ) _tall
             WHERE _tall.id IS NOT NULL
         ) tall
        ]]>
    </sql>

    <sql id="queryWhere">
        <where>
            tall.id IS NOT NULL

            <!-- id -->
            <if test="paramObj.id != null">
                AND tall.id = #{paramObj.id}
            </if>

            <!-- type -->
            <if test="paramObj.type != null">
                AND tall.type = #{paramObj.type}
            </if>

            <!-- type2 -->
            <if test="paramObj.type2 != null">
                AND tall.type2 = #{paramObj.type2}
            </if>

            <!-- merchant_grade -->
            <if test="paramObj.merchantGrade != null">
                AND tall.merchant_grade = #{paramObj.merchantGrade}
            </if>

            <!-- telegram_id -->
            <if test="paramObj.telegramId != null">
                AND tall.telegram_id = #{paramObj.telegramId}
            </if>

            <!-- chain_id -->
            <if test="paramObj.chainId != null">
                AND tall.chain_id = #{paramObj.chainId}
            </if>

            <!-- chain_address -->
            <if test="paramObj.chainAddress != null and !paramObj.chainAddress.isEmpty()">
                AND (LOWER(tall.chain_address) LIKE CONCAT('%', LOWER(#{paramObj.chainAddress}), '%'))
            </if>

            <!-- email -->
            <if test="paramObj.email != null and !paramObj.email.isEmpty()">
                AND (LOWER(tall.email) LIKE CONCAT('%', LOWER(#{paramObj.email}), '%'))
            </if>

            <!-- twitter_id -->
            <if test="paramObj.twitterId != null and !paramObj.twitterId.isEmpty()">
                AND tall.twitter_id = #{paramObj.twitterId}
            </if>

            <!-- facebook_id -->
            <if test="paramObj.facebookId != null and !paramObj.facebookId.isEmpty()">
                AND tall.facebook_id = #{paramObj.facebookId}
            </if>

            <!-- line_id -->
            <if test="paramObj.lineId != null and !paramObj.lineId.isEmpty()">
                AND tall.line_id = #{paramObj.lineId}
            </if>

            <!-- phone_number -->
            <if test="paramObj.phoneNumber != null and !paramObj.phoneNumber.isEmpty()">
                AND (LOWER(tall.phone_number) LIKE CONCAT('%', LOWER(#{paramObj.phoneNumber}), '%'))
            </if>

            <!-- username -->
            <if test="paramObj.username != null and !paramObj.username.isEmpty()">
                AND (LOWER(tall.username) LIKE CONCAT('%', LOWER(#{paramObj.username}), '%'))
            </if>

            <!-- receive_messages_telegram_ids -->
            <!-- salt -->
            <!-- password -->
            <!-- withdrawal_password -->
            <!-- app_key -->

            <!-- is_enabled -->
            <if test="paramObj.isEnabled != null">
                AND tall.is_enabled = #{paramObj.isEnabled}
            </if>

            <!-- is_test -->
            <if test="paramObj.isTest != null">
                AND tall.is_test = #{paramObj.isTest}
            </if>

            <!-- avatar_url -->
            <!-- parent_id -->
            <if test="paramObj.parentId != null">
                AND tall.parent_id = #{paramObj.parentId}
            </if>

            <!-- referrer_id -->
            <if test="paramObj.referrerId != null">
                AND tall.referrer_id = #{paramObj.referrerId}
            </if>

            <!-- referral_code -->
            <if test="paramObj.referralCode != null and !paramObj.referralCode.isEmpty()">
                AND (LOWER(tall.referral_code) LIKE CONCAT('%', LOWER(#{paramObj.referralCode}), '%'))
            </if>

            <!-- total_bet_amount -->

            <!-- vip_level -->
            <if test="paramObj.vipLevel != null">
                AND tall.vip_level = #{paramObj.vipLevel}
            </if>

            <!-- version -->
            <!-- create_ts_ms -->
            <if test="paramObj.createTsMsGE != null">
                <![CDATA[
                    AND tall.create_ts_ms >= #{paramObj.createTsMsGE}
                ]]>
            </if>
            <if test="paramObj.createTsMsLE != null">
                <![CDATA[
                    AND tall.create_ts_ms <= #{paramObj.createTsMsLE}
                ]]>
            </if>

            <!-- 其它字段 -->

            <if test="paramObj.key != null and !paramObj.key.isEmpty()">
                <![CDATA[
                    AND (
                            LOWER(tall.chain_address) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%')
                            OR (LOWER(tall.phone_number) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%'))
                            OR LOWER(tall.email) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%')
                            OR LOWER(tall.username) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%')
                            OR (LOWER(tall.referral_code) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%'))
                        )
                ]]>
            </if>

        </where>
    </sql>

    <sql id="queryOrderBy">
        ORDER BY
        <if test="paramObj.typeOrderBy != null and paramObj.typeOrderBy == 1">
            tall.type,
        </if>
        <if test="paramObj.typeOrderBy != null and paramObj.typeOrderBy == 2">
            tall.type DESC,
        </if>
        <if test="paramObj.joinSumUserFund != null and paramObj.totalBalanceQVOrderBy != null and paramObj.totalBalanceQVOrderBy == 1">
            tall.total_balance_q_v,
        </if>
        <if test="paramObj.joinSumUserFund != null and paramObj.totalBalanceQVOrderBy != null and paramObj.totalBalanceQVOrderBy == 2">
            tall.total_balance_q_v DESC,
        </if>
        <if test="paramObj.createTsMsOrderBy != null and paramObj.createTsMsOrderBy == 1">
            tall.create_ts_ms,
        </if>
        <if test="paramObj.createTsMsOrderBy != null and paramObj.createTsMsOrderBy == 2">
            tall.create_ts_ms DESC,
        </if>
        tall.id
    </sql>

    <select id="queryPage" parameterType="java.util.Map" resultType="com.xxx.user.vo.UserVO">
        <include refid="querySelect"/>
        <include refid="queryWhere"/>
        <include refid="queryOrderBy"/>
    </select>

    <select id="queryList" parameterType="java.util.Map" resultType="com.xxx.user.vo.UserVO">
        <include refid="querySelect"/>
        <include refid="queryWhere"/>
        <include refid="queryOrderBy"/>
    </select>

    <select id="queryOne" parameterType="java.util.Map" resultType="com.xxx.user.vo.UserVO">
        <include refid="querySelect"/>
        <include refid="queryWhere"/>
        <include refid="queryOrderBy"/>
    </select>

    <select id="sumPendingReferrerCommissionByReferrerId" resultType="com.xxx.user.vo.UserVO">
        SELECT c_for_settlement_.id                                                          AS settlement_currency_id
             , c_for_settlement_.code                                                        AS settlement_currency_code
             , c_for_settlement_.symbol                                                      AS settlement_currency_symbol
             , c_for_settlement_.type                                                        AS settlement_currency_type
             , c_for_settlement_.country_code                                                AS settlement_currency_country_code
             , SUM(COALESCE(vl_.referrer_commission_amount * cp_settlement_.quote_price,
                            0))                                                              AS settlement_referrer_commission_amount
        FROM user u_
                 JOIN vip_level vl_ ON vl_.level > u_.vip_level
                 JOIN (SELECT quote_price, base_currency_id, quote_currency_id
                       FROM currency_price cp_
                       WHERE cp_.quote_currency_id = #{vipLevelSettlementCurrencyId}) cp_settlement_
                      ON cp_settlement_.base_currency_id = vl_.currency_id
                 JOIN currency c_for_settlement_ ON cp_settlement_.quote_currency_id = c_for_settlement_.id
        WHERE u_.referrer_id = #{referrerId}
          AND vl_.referrer_commission_amount > 0
        GROUP BY vl_.currency_id
    </select>

    <select id="queryPagePendingReferrerCommissionByReferrerId" resultType="com.xxx.user.vo.UserVO">
        SELECT u_.id
             , u_.username
             , c_for_settlement_.id                                                          AS settlement_currency_id
             , c_for_settlement_.code                                                        AS settlement_currency_code
             , c_for_settlement_.symbol                                                      AS settlement_currency_symbol
             , c_for_settlement_.type                                                        AS settlement_currency_type
             , c_for_settlement_.country_code                                                AS settlement_currency_country_code
             , SUM(COALESCE(vl_.referrer_commission_amount * cp_settlement_.quote_price,
                            0))                                                              AS settlement_referrer_commission_amount
        FROM user u_
                 JOIN vip_level vl_ ON vl_.level > u_.vip_level
                 JOIN (SELECT quote_price, base_currency_id, quote_currency_id
                       FROM currency_price cp_
                       WHERE cp_.quote_currency_id = #{vipLevelSettlementCurrencyId}) cp_settlement_
                      ON cp_settlement_.base_currency_id = vl_.currency_id
                 JOIN currency c_for_settlement_ ON cp_settlement_.quote_currency_id = c_for_settlement_.id
        WHERE u_.referrer_id = #{referrerId}
          AND vl_.referrer_commission_amount > 0
        GROUP BY u_.id, u_.username, vl_.currency_id
    </select>

</mapper>