<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.system.mapper.SysDeptMapper">

    <sql id="querySelect">
        <![CDATA[
            SELECT tall.* FROM sys_dept tall
        ]]>
    </sql>

    <sql id="queryWhere">
        <where>
            <!-- id -->
            tall.id IS NOT NULL

            <!-- id -->
            <if test="paramObj.id != null">
                AND tall.id = #{paramObj.id}
            </if>

            <!-- parent_id -->
            <if test="paramObj.parentId != null">
                AND tall.parent_id = #{paramObj.parentId}
            </if>

            <!-- name -->
            <if test="paramObj.name != null and !paramObj.name.isEmpty()">
                AND LOWER(tall.name) LIKE CONCAT('%', LOWER(#{paramObj.name}), '%')
            </if>

            <!-- sort -->
            <if test="paramObj.sort != null">
                AND tall.sort = #{paramObj.sort}
            </if>

            <!-- create_ts -->
            <!-- update_ts -->

            <!-- 其它字段 -->

            <if test="paramObj.key != null and !paramObj.key.isEmpty()">
                <![CDATA[
                    AND (
                            LOWER(tall.name) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%')
                        )
                ]]>
            </if>

        </where>
    </sql>

    <sql id="queryOrderBy">
        ORDER BY tall.update_ts DESC
    </sql>

    <select id="queryPage" parameterType="java.util.Map" resultType="com.xxx.system.vo.SysDeptVO">
        <include refid="querySelect"/>
        <include refid="queryWhere"/>
        <include refid="queryOrderBy"/>
    </select>

    <select id="queryList" parameterType="java.util.Map" resultType="com.xxx.system.vo.SysDeptVO">
        <include refid="querySelect"/>
        <include refid="queryWhere"/>
        <include refid="queryOrderBy"/>
    </select>

</mapper>