<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.system.mapper.SysOperationLogMapper">

    <sql id="querySelect">
        <![CDATA[
            SELECT tall.* FROM sys_operation_log tall
        ]]>
    </sql>

    <sql id="queryWhere">
        <where>
            <!-- id -->
            tall.id IS NOT NULL

            <!-- id -->
            <if test="paramObj.id != null">
                AND tall.id = #{paramObj.id}
            </if>

            <!-- entity_id -->
            <if test="paramObj.entityId != null">
                AND tall.entity_id = #{paramObj.entityId}
            </if>

            <!-- action_type -->
            <if test="paramObj.actionType != null">
                AND tall.action_type = #{paramObj.actionType}
            </if>

            <!-- data -->
            <if test="paramObj.data != null and !paramObj.data.isEmpty()">
                AND LOWER(tall.data) LIKE CONCAT('%', LOWER(#{paramObj.data}), '%')
            </if>

            <!-- operator_type -->
            <if test="paramObj.operatorType != null">
                AND tall.operator_type = #{paramObj.operatorType}
            </if>

            <!-- operator_id -->
            <if test="paramObj.operatorId != null">
                AND tall.operator_id = #{paramObj.operatorId}
            </if>

            <!-- create_ts -->

            <!-- 其它字段 -->

            <if test="paramObj.key != null and !paramObj.key.isEmpty()">
                <![CDATA[
                    AND (
                            LOWER(tall.data) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%')
                        )
                ]]>
            </if>

        </where>
    </sql>

    <sql id="queryOrderBy">
        ORDER BY tall.id DESC
    </sql>

    <select id="queryPage" parameterType="java.util.Map" resultType="com.xxx.system.vo.SysOperationLogVO">
        <include refid="querySelect"/>
        <include refid="queryWhere"/>
        <include refid="queryOrderBy"/>
    </select>

</mapper>