<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.system.mapper.SysUserMapper">

    <sql id="querySelect">
        <![CDATA[
            SELECT tall.* FROM sys_user tall
        ]]>
    </sql>

    <sql id="queryWhere">
        <where>
            <!-- id -->
            tall.id IS NOT NULL

            <!-- id -->
            <if test="paramObj.id != null">
                AND tall.id = #{paramObj.id}
            </if>

            <!-- dept_id -->
            <if test="paramObj.deptId != null">
                AND tall.dept_id = #{paramObj.deptId}
            </if>

            <!-- username -->
            <if test="paramObj.username != null and !paramObj.username.isEmpty()">
                AND LOWER(tall.username) LIKE CONCAT('%', LOWER(#{paramObj.username}), '%')
            </if>

            <!-- password -->

            <!-- nick_name -->
            <if test="paramObj.nickName != null and !paramObj.nickName.isEmpty()">
                AND LOWER(tall.nick_name) LIKE CONCAT('%', LOWER(#{paramObj.nickName}), '%')
            </if>

            <!-- email -->
            <if test="paramObj.email != null and !paramObj.email.isEmpty()">
                AND LOWER(tall.email) LIKE CONCAT('%', LOWER(#{paramObj.email}), '%')
            </if>

            <!-- phone_number -->
            <if test="paramObj.phoneNumber != null and !paramObj.phoneNumber.isEmpty()">
                AND LOWER(tall.phone_number) LIKE CONCAT('%', LOWER(#{paramObj.phoneNumber}), '%')
            </if>

            <!-- avatar -->
            <if test="paramObj.avatar != null and !paramObj.avatar.isEmpty()">
                AND LOWER(tall.avatar) LIKE CONCAT('%', LOWER(#{paramObj.avatar}), '%')
            </if>

            <!-- is_enabled -->
            <if test="paramObj.isEnabled != null">
                AND tall.is_enabled = #{paramObj.isEnabled}
            </if>

            <!-- is_deleted -->
            <if test="paramObj.isDeleted != null">
                AND tall.is_deleted = #{paramObj.isDeleted}
            </if>

            <!-- remark -->
            <if test="paramObj.remark != null and !paramObj.remark.isEmpty()">
                AND LOWER(tall.remark) LIKE CONCAT('%', LOWER(#{paramObj.remark}), '%')
            </if>

            <!-- create_ts -->
            <!-- update_ts -->

            <!-- 其它字段 -->

            <if test="paramObj.key != null and !paramObj.key.isEmpty()">
                <![CDATA[
                    AND (
                            LOWER(tall.username) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%')
                            OR LOWER(tall.nick_name) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%')
                            OR LOWER(tall.email) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%')
                            OR LOWER(tall.phone_number) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%')
                            OR LOWER(tall.avatar) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%')
                            OR LOWER(tall.remark) LIKE CONCAT('%', LOWER(#{paramObj.key}), '%')
                        )
                ]]>
            </if>

        </where>
    </sql>

    <sql id="queryOrderBy">
        ORDER BY tall.update_ts DESC
    </sql>

    <select id="queryPage" parameterType="java.util.Map" resultType="com.xxx.system.vo.SysUserVO">
        <include refid="querySelect"/>
        <include refid="queryWhere"/>
        <include refid="queryOrderBy"/>
    </select>

    <select id="queryList" parameterType="java.util.Map" resultType="com.xxx.system.vo.SysUserVO">
        <include refid="querySelect"/>
        <include refid="queryWhere"/>
        <include refid="queryOrderBy"/>
    </select>

    <select id="queryOne" parameterType="java.util.Map" resultType="com.xxx.system.vo.SysUserVO">
        <include refid="querySelect"/>
        <include refid="queryWhere"/>
        <include refid="queryOrderBy"/>
    </select>

</mapper>