server:
  port: 10001
spring:
  application:
    name: %artifactId%
  profiles:
    active: %mvn.spring.profile%

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 8
      maximum-pool-size: 16
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-timeout: 30000
      auto-commit: true
      pool-name: HikariCP
      connection-test-query: SELECT 1
      validation-timeout: 1000
  data:
    redis:
      database: 6
      timeout: 10000ms
      lettuce:
        pool:
          max-active: 16        # 连接池最大连接数
          max-idle: 8           # 连接池最大空闲连接数
          min-idle: 2           # 连接池最小空闲连接数
          max-wait: 3000ms      # 连接池最大阻塞等待时间
        shutdown-timeout: 100ms

management:
  endpoints:
    web:
      exposure:
        include: "*"
      cors:
        allowed-origins: "*"
        allowed-methods: "*"
  endpoint:
    health:
      show-details: ALWAYS

mybatis-plus:
  mapper-locations: classpath:/mybatis-mapper/**/*Mapper.xml

logging:
  level:
    com: warn
    io: warn
    reactor: warn
    org: warn

app:
  http:
    proxy:
      enable: false
      host: localhost
      port: 7890

---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
    url: jdbc:p6spy:mysql://127.0.0.1:3307/translate?autoReconnect=true&failOverReadOnly=false&useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123456
  data:
    redis:
      host: 127.0.0.1
      password: zse45tfv
logging:
  level:
    root: debug
app:
  http:
    proxy:
      enable: true
